<div class="jumbotron">
<h1>First Ruby on Rails</h1>
<p>Project to learn the ruby on Rails <%=link_to "Sign Up", "http://tryruby.org/levels/1/challenges/0", class: "btn btn-primary btn-lg" %></p>

</div>